.signIn{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:center;
	align-items:center;
	height:calc(100vh - 60px);
	.form{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;
		align-items:flex-start;
		margin:100px;
		.textField{
		width:300px;
		// background-color:red;
		margin-left:100px;
		margin-top:100px;
		}
	}
	
}